@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CRSV@-15,900,1&display=swap');

/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

html {
  scroll-snap-type: y mandatory;
}

body {
  scroll-snap-type: y mandatory;
}

@tailwind components;

#shareAPIPolyfill-container {
  z-index: 1000;
}

@tailwind utilities;
